<div class="row">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body cardContainer">
				<div class="circleImageContainer col col-sm-12 col-md-3 d-inline-block" *ngFor="let home of homeLinks">
					<a [routerLink]="[home.url]" class="imageLink">
						<circle-image [imageUrl]="home.imageUrl"
									  [imageClass]="home.class">
						</circle-image>
						<div class="titleContainer">
							<p>{{ home.titulo }}</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>