<div class="loaderBall" *ngIf="!user && !responseMessage">
	<div class="ball-pulse-rise">
		<div></div><div></div><div></div><div></div><div></div>
	</div>
</div>
<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status=='error' && responseMessage && !user">
	<div class="alert alert-danger" role="alert">
		{{ responseMessage }} <a routerLink="/inicio">Inicio</a>
	</div>
</div>

<div class="row" *ngIf="user">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body">
				<div class="backLink col col-sm-12 col-md-8 col-lg-6">
					<a routerLink="/inicio">Inicio</a>
				</div>
				<div class="formContainerAdmin col col-sm-12 col-md-8 col-lg-6" [ngClass]="{'formContainerAdminError': status && status=='error'}">
					<form #userRegisterForm="ngForm" class="form-container" *ngIf="user" (ngSubmit)="onSubmit(userRegisterForm)">
						<div class="form-group">
							<div class="col col-sm-12 d-inline-block">
								<label for="userName" class="labelForm">Nombres y apellidos</label>
								<input type="text" name="userName" class="form-control inputForm" #userName="ngModel" ngModel="{{ user.name + ' ' + user.surname }}" pattern="[a-zA-ZÀ-ÿ ]+" disabled>
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 d-inline-block">
								<label for="userAlias" class="labelForm">Alias de usuario</label>
								<input type="text" name="userAlias" class="form-control inputForm" #userAlias="ngModel" ngModel="{{ user.alias }}" disabled>
							</div>
						</div>
						<div class="form-group" *ngIf="enabled">
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="userPassword" class="labelForm">Contraseña*</label>
								<fa-icon [icon]="passwordEye" class="icon" (click)="showPassword('userPassword')"></fa-icon>
								<input [type]="passwordType" name="userPassword" id="userPassword" class="form-control inputForm" [ngClass]="{ 'is-invalid': userPassword.touched && userPassword.invalid }" #userPassword="ngModel" [(ngModel)]="user.password" required placeholder="Ingrese la contraseña">
							</div>
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="passwordConfirm" class="labelForm">Confirmar Contraseña*</label>
								<fa-icon [icon]="passwordConfirmEye" class="icon" (click)="showPassword('passwordConfirm')" *ngIf="user.password"></fa-icon>
								<input [type]="passwordConfirmType" name="passwordConfirm" id="passwordConfirm" class="form-control inputForm" [ngClass]="{ 'is-invalid': (passwordConfirm.touched && passwordConfirm.invalid) || (passwordConfirm.touched && user.password!=password) }" #passwordConfirm="ngModel" [(ngModel)]="password" required placeholder="Confirmar la contraseña" [disabled]="!user.password">
							</div>
							<small class="col col-sm-12 invalid-feedback d-block" *ngIf="passwordConfirm.touched && user.password!=password">Las contraseñas no coinciden</small>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 buttonSubmit">
								<input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12" [disabled]="userRegisterForm.invalid || user.password != password">
							</div>
						</div>
						<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status=='error' && responseMessage">
							<div class="alert alert-danger" role="alert">
								{{ responseMessage }}
							</div>
						</div>
						<div class="deleteLoader" *ngIf="preloaderStatus">
							<div class="loader"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>