<div class="loaderBall" *ngIf="!contract && !responseMessage">
	<div class="ball-pulse-rise">
		<div></div><div></div><div></div><div></div><div></div>
	</div>
</div>
<div class="mt-3 errorAlert" *ngIf="status=='error' && responseMessage && !contract">
	<div class="alert alert-danger" role="alert">
		{{ responseMessage }} <a routerLink="/contratacion/contratos/listar">listar contratos</a>
	</div>
</div>

<div class="row" *ngIf="contract">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body cardContainer">
				<div class="backLink col col-sm-12">
					<a class="col-sm-12" routerLink="/contratacion/contratos/listar">Listar contratos</a>
				</div>
				<div class="formContainer">
					<form #contractsForm="ngForm" class="form-container" (ngSubmit)="onSubmit(contractsForm)" style="text-align: left;">
						<div class="form-group">
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="number" class="labelForm">Número*</label>
								<input type="text" name="number" class="form-control inputForm" [ngClass]="{'is-invalid': number.touched && number.invalid}" #number="ngModel" [(ngModel)]="contract.numero" required pattern="[0-9]+" placeholder="Ingrese el número del contrato">
							</div>
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="spendingOrder" class="labelForm">Ordenador del gasto*</label>
								<input type="text" name="spendingOrder" class="form-control inputForm" [ngClass]="{'is-invalid': spendingOrder.touched && spendingOrder.invalid}" #spendingOrder="ngModel" [(ngModel)]="contract.ordenadorGasto" required pattern="[0-9]+" placeholder="Seleccione el ordenador del gasto (creo que es una lista)">
							</div>
						</div>
						<div class="form-group col col-sm-12">
							<label for="contractualObject" class="labelForm">Objeto contractual</label>
							<textarea name="contractualObject" name="contractualObject" class="form-control inputForm" [ngClass]="{'is-invalid':contractualObject.invalid && contractualObject.touched}" #contractualObject="ngModel" [(ngModel)]="contract.objetoContractual" placeholder="Ingrese el objeto contractual del contrato" rows="5"></textarea>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="supervisorName" class="labelForm">Nombre del supervisor*</label>
								<input type="text" name="supervisorName" class="form-control inputForm" [ngClass]="{'is-invalid': supervisorName.touched && supervisorName.invalid}" #supervisorName="ngModel" [(ngModel)]="contract.nombreSupervisor" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese el nombre del supervisor (deberia ser una lista)">
							</div>
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="supervisorPosition" class="labelForm">Cargo del supervisor*</label>
								<input type="text" name="supervisorPosition" class="form-control inputForm" [ngClass]="{'is-invalid': supervisorPosition.touched && supervisorPosition.invalid}" #supervisorPosition="ngModel" [(ngModel)]="contract.cargoSupervisor" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese el cargo del supervisor (Deberia traerlo de la base de datos)">
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-md-3 d-inline-block">
								<label for="modality" class="labelForm">Modalidad*</label>
								<select style="background-position-x: 93%" name="modality" id="modality" class="form-control inputForm" [ngClass]="{'is-invalid': modality.invalid && modality.touched}" #modality="ngModel" [(ngModel)]="contract.modalidad" required>
									<option *ngFor="let modal of modalidad" value="{{ modal.id }}">{{ modal.value }}</option>
								</select>
							</div>
							<div class="col col-sm-12 col-md-3 d-inline-block">
								<label for="timeValue" class="labelForm">Valor de la hora*</label>
								<input type="text" name="timeValue" class="form-control inputForm" [ngClass]="{'is-invalid': timeValue.touched && timeValue.invalid}" #timeValue="ngModel" [(ngModel)]="contract.valorHora" required pattern="[0-9]+" placeholder="Ingrese el valor de la hora">
							</div>
							<div class="col col-sm-12 col-md-3 d-inline-block">
								<label for="averageHours" class="labelForm">Promedio horas*</label>
								<input type="text" name="averageHours" class="form-control inputForm" [ngClass]="{'is-invalid': averageHours.touched && averageHours.invalid}" #averageHours="ngModel" [(ngModel)]="contract.promedioHoras" required pattern="[0-9]+" placeholder="Ingrese el promedio de las horas">
							</div>
							<div class="col col-sm-12 col-md-3 d-inline-block">
								<label for="fee" class="labelForm">Honorarios*</label>
								<input type="text" name="fee" class="form-control inputForm" [ngClass]="{'is-invalid': fee.touched && fee.invalid}" #fee="ngModel" [(ngModel)]="contract.honorarios" required pattern="[0-9]+" placeholder="Ingrese el valor de los honorarios (Deberia calcularse solo)">
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-md-4 d-inline-block">
								<label for="startDate" class="labelForm">Fecha de inicio*</label>
								<input type="date" name="startDate" id="startDate" class="form-control inputForm" [ngClass]="{'is-invalid': startDate.invalid && startDate.touched}" #startDate="ngModel" [(ngModel)]="contract.fechaInicio" required>
							</div>
							<div class="col col-sm-12 col-md-4 d-inline-block" *ngIf="contract.fechaInicio">
								<label for="endDate" class="labelForm">Fecha de terminación*</label>
								<input type="date" name="endDate" id="endDate" class="form-control inputForm" [ngClass]="{'is-invalid': endDate.invalid && endDate.touched}" #endDate="ngModel" [(ngModel)]="contract.fechaTerminacion" min="{{contract.fechaInicio}}" required>
							</div>
							<div class="col col-sm-12 col-md-4 d-inline-block">
								<label for="startValue" class="labelForm">Valor inicial*</label>
								<input type="text" name="startValue" class="form-control inputForm" [ngClass]="{'is-invalid': startValue.touched && startValue.invalid}" #startValue="ngModel" [(ngModel)]="contract.valorInicial" required pattern="[0-9]+" placeholder="Ingrese el valor inicial del contrato">
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="CDP" class="labelForm">CDP*</label>
								<input type="text" name="CDP" class="form-control inputForm" [ngClass]="{'is-invalid': CDP.touched && CDP.invalid}" #CDP="ngModel" [(ngModel)]="contract.CDP" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese el número de CDP">
							</div>
							<div class="col col-sm-12 col-md-6 d-inline-block" *ngIf="contract.CDP">
								<label for="CDPDate" class="labelForm">Fecha de CDP*</label>
								<input type="date" name="CDPDate" id="CDPDate" class="form-control inputForm" [ngClass]="{'is-invalid': CDPDate.invalid && CDPDate.touched}" #CDPDate="ngModel" [(ngModel)]="contract.fechaCDP" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-10 col-md-5 d-inline-block">
								<label for="contractorId" class="labelForm">Número de documento del contratista*</label>
								<input type="text" name="contractorId" class="form-control inputForm" [ngClass]="{'is-invalid': contractorId.invalid && contractorId.touched}" #contractorId="ngModel" [(ngModel)]="contractDocument" pattern="[0-9]+" placeholder="Ingrese el número de documento del contratista" maxlength="10" required>
							</div>
							<div class="col col-sm-2 col-md-1 d-inline-block">
								<a class="btn btn-info btn-sm col-sm-12" style="color: white; border-radius: 0;" *ngIf="contractorId.valid" (click)="getContractorByDocument()">Buscar</a>
							</div>
							<div class="col col-sm-9 col-md-4 d-inline-block" *ngIf="contractor">
								<label for="selectContractor" class="labelForm">Contratista seleccionado*</label>
								<input type="text" name="selectContractor" class="form-control inputForm" [ngClass]="{'is-invalid': selectContractor.invalid && selectContractor.touched, 'is-valid': contract.contractors_id}" #selectContractor="ngModel" [(ngModel)]="contractorName" pattern="[0-9]+" disabled>
							</div>
							<div class="col col-sm-3 col-md-2 d-inline-block" *ngIf="contractor">
								<a class="btn btn-warning btn-sm col-sm-12" style="color: white; border-radius: 0;" (click)="contract.contractors_id = contractor.id">Relacionar</a>
							</div>
							<div class="col-sm-12 col-md-6 d-inline-block" *ngIf="searchPreloaderStatus"><fa-icon [icon]="faSpinner" class="d-block spin"></fa-icon></div>		
							<div class="col-sm-12 col-md-6 d-inline-block" *ngIf="searchStatus=='error' && searchResponseMessage"><small class="invalid-feedback d-block">{{ searchResponseMessage }}</small></div>
						</div>
						<div class="form-group" style="margin-top: 3rem">
							<div class="col col-sm-12 buttonSubmit">
								<input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12" [disabled]="contractsForm.invalid && !contract.contractors_id">
							</div>
						</div>
						<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status=='error' && responseMessage">
							<div class="alert alert-danger" role="alert">
								{{ responseMessage }}
							</div>
						</div>
						<div class="deleteLoader" *ngIf="preloaderStatus">
							<div class="loader"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>