<!-- <div class="loaderBall" >
	<div class="ball-pulse-rise">
		<div></div><div></div><div></div><div></div><div></div>
	</div>
</div> -->
<div class="row reports">
	<div class="col-sm-12 col-lg-6 reportGraph pl-0">
		<div class="card border-0">
			<h4 class="card-header">{{areaStatusView + ' áreas'}}</h4>
			<div class="card-body">	
				<app-area-list (changeView)="chageAreaView($event)" *ngIf="areaStatusView == 'Listar'"></app-area-list>	
				<app-area-register (changeView)="chageAreaView($event)" *ngIf="areaStatusView == 'Registrar'"></app-area-register>
				<app-area-edit (changeView)="chageAreaView($event)" *ngIf="areaStatusView == 'Editar'"></app-area-edit>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-lg-6 reportGraph pr-0">
		<div class="card border-0">
			<h4 class="card-header">{{areaStatusView + ' perfil'}}</h4>
			<div class="card-body">	
				<app-profile-list (changeView)="chageAreaView($event)" *ngIf="areaStatusView == 'Listar'"></app-profile-list>	
				<app-profile-register (changeView)="chageAreaView($event)" *ngIf="areaStatusView == 'Registrar'"></app-profile-register>
				<app-profile-edit (changeView)="chageAreaView($event)" *ngIf="areaStatusView == 'Editar'"></app-profile-edit>
			</div>
		</div>
	</div>
</div>