<div class="row" *ngIf="salaSituacional">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body cardContainer">
				<div class="salaSituacionalContainer col col-sm-12 col-md-3 d-inline-block" *ngFor="let sala of salaSituacional">
					<a [routerLink]="[sala.url]" class="imageLink">
						<div [class]="sala.class">
							<img src="assets/images/salaSituacional/{{sala.titulo}}.png" alt="">
						</div>
						<div class="titleContainer">
							<p>{{ sala.titulo }}</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>