<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/loginBackground.jpg);">
	<div class="login-box card">
		<div class="card-body">
			<div class="logoContainer">
				<img src="assets/images/logoSubred.png" alt="">
			</div>
			<div class="titleContainer">
				<h1>{{ page_title }}</h1>
			</div>

			<form #loginForm="ngForm" class="formContainer" id="loginForm" (ngSubmit)="onSubmit(loginForm)">
				<div class="form-group">
					<div class="col col-sm-12">
						<input type="text" name="alias" id="alias" class="form-control inputForm" [ngClass]="{'is-invalid': alias.touched && alias.invalid}" #alias="ngModel" [(ngModel)]="user.alias" required placeholder="Nombre de usuario">
						<small class="invalid-feedback d-block" *ngIf="alias.touched && alias.invalid">Debe ingresar su nombre de usuario</small>
					</div>
				</div>
				<div class="form-group">
					<div class="col col-sm-12">
						<input type="password" name="password" id="password" class="form-control inputForm" [ngClass]="{'is-invalid': password.touched && password.invalid}" #password="ngModel" [(ngModel)]="user.password" required placeholder="Contraseña">
						<small class="invalid-feedback d-block" *ngIf="password.touched && password.invalid">Debe ingresar su contraseña</small>
					</div>
				</div>
				<div class="buttonSubmit col-sm-12">
					<input type="submit" value="Ingresar" class="btn btn-info btnPrefer col-sm-12" [disabled]="loginForm.invalid">
				</div>
				<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status=='error' && responseMessage">
					<div class="alert alert-danger" role="alert">
						{{ responseMessage }}
					</div>
				</div>
				<div class="mt-4 col col-sm-12 preLoader" *ngIf="preloaderStatus">
					<div class="loader"></div>
				</div>
			</form>
		</div>
	</div>
</section>