<div class="loaderBall" *ngIf="!contractor && !responseMessage">
	<div class="ball-pulse-rise">
		<div></div><div></div><div></div><div></div><div></div>
	</div>
</div>
<div class="mt-3 errorAlert" *ngIf="status=='error' && responseMessage && !contractor">
	<div class="alert alert-danger" role="alert">
		{{ responseMessage }} <a routerLink="/contratacion/contratistas/listar">listar contratistas</a>
	</div>
</div>

<div class="row" *ngIf="contractor">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body cardContainer">
				<div class="backLink col col-sm-12">
					<a class="col-sm-12" routerLink="/contratacion/contratistas/listar">Listar Contratistas</a>
				</div>
				<div class="formContainer">
					<form #contractorsForm="ngForm" class="form-container" (ngSubmit)="onSubmit(contractorsForm)" style="text-align: left;">
						<div class="form-group">
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="name" class="labelForm">Nombres*</label>
								<input type="text" name="name" class="form-control inputForm" [ngClass]="{'is-invalid': name.touched && name.invalid}" #name="ngModel" [(ngModel)]="contractor.nombres" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese los nombres del contratista">
							</div>
							<div class="col col-sm-12 col-md-6 d-inline-block">
								<label for="surname" class="labelForm">Apellidos*</label>
								<input type="text" name="surname" class="form-control inputForm" [ngClass]="{'is-invalid': surname.touched && surname.invalid}" #surname="ngModel" [(ngModel)]="contractor.apellidos" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese los apellidos del contratista">
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 col-md-4 d-inline-block">
								<label for="documentType" class="labelForm">Tipo de documento*</label>
								<select style="background-position-x: 93%" name="documentType" id="documentType" class="form-control inputForm" [ngClass]="{'is-invalid': documentType.invalid && documentType.touched}" #documentType="ngModel" [(ngModel)]="contractor.tipoDocumento" required>
									<option *ngFor="let type of tipoDocumento" value="{{ type.id }}">{{ type.value }}</option>
								</select>
							</div>
							<div class="col col-sm-12 col-md-4 d-inline-block">
								<label for="document" class="labelForm">Número de documento*</label>
								<input type="text" name="document" class="form-control inputForm" [ngClass]="{'is-invalid': document.touched && document.invalid}" #document="ngModel" [(ngModel)]="contractor.documento" required pattern="[0-9]+" placeholder="Ingrese el número de documento" maxlength="10">
							</div>
							<div class="col col-sm-12 col-md-4 d-inline-block">
								<label for="sex" class="labelForm">Sexo*</label>
								<select style="background-position-x: 93%" name="sex" id="sex" class="form-control inputForm" [ngClass]="{'is-invalid': sex.invalid && sex.touched}" #sex="ngModel" [(ngModel)]="contractor.sexo" required>
									<option *ngFor="let sx of sexo" value="{{ sx.id }}">{{ sx.value }}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col col-sm-12 d-inline-block">
								<label for="profession" class="labelForm">Profesión</label>
								<input type="text" name="profession" class="form-control inputForm" [ngClass]="{'is-invalid': profession.invalid && profession.touched}" #profession="ngModel" [(ngModel)]="contractor.profesion" pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese la profesión del contratista">
							</div>
						</div>
						<div class="form-group" style="margin-top: 3rem">
							<div class="col col-sm-12 buttonSubmit">
								<input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12" [disabled]="contractorsForm.invalid">
							</div>
						</div>
						<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status=='error' && responseMessage">
							<div class="alert alert-danger" role="alert">
								{{ responseMessage }}
							</div>
						</div>
						<div class="deleteLoader" *ngIf="preloaderStatus">
							<div class="loader"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>