<div class="row">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body cardContainer">
				<div class="registerCollaboratorButton" *ngIf="users">
					<button class="btn btn-info" [routerLink]="['/admin/agregar']">Crear nuevo usuario</button>
				</div>
				
				<div class="tableContainer" *ngIf="users">
					<div class="tableContainerAll col col-sm-12">
						<div class="paginationControls" *ngIf="users && users.length > itemsPerPage">
							<pagination-controls (pageChange)="pageChange($event)"
												 previousLabel="Anterior"
												 nextLabel="Siguiente"
												 maxSize="4">
							</pagination-controls>
						</div>
						<table class="table table-bordered">
							<thead class="thead_styles">
								<tr>
									<th>Alias</th>
									<th>Nombre</th>
									<th>Role</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody class="tbody_styles">
								<tr *ngFor="let user of users | paginate: {itemsPerPage: itemsPerPage, currentPage: actualPage};" class="tableStyles">
									<td>{{ user.alias }}</td>
									<td>{{ user.name + ' ' + user.surname }}</td>
									<td>{{ user.role }}</td>
									<td style="padding: 0.55rem">
										<button type="button" class="btn btn-warning col col-sm-12 col-md-5 mr-1 d-inline-block" [routerLink]="['/admin/editar', user.id]">Editar</button>
										<!-- <button type="button" class="btn btn-danger col col-sm-12 col-md-5 d-inline-block" data-toggle="modal" [attr.data-target]="'#myModal'+user.id">Borrar</button> -->
									</td>

									<!-- the Modal -->
												
								</tr>					
							</tbody>
						</table>		
						<div class="paginationControls" *ngIf="users && users.length > itemsPerPage">
							<pagination-controls (pageChange)="pageChange($event)"
												 previousLabel="Anterior"
												 nextLabel="Siguiente"
												 maxSize="4">
							</pagination-controls>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>