<div class="loaderBall" *ngIf="!supervisor && !responseMessage">
	<div class="ball-pulse-rise">
		<div></div><div></div><div></div><div></div><div></div>
	</div>
</div>
<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status=='error' && responseMessage && !supervisor">
	<div class="alert alert-danger" role="alert">
		{{ responseMessage }} <a class="link" (click)="sendFlag()">listar supervisores</a>
	</div>
</div>

<div class="row" *ngIf="supervisor">
	<div class="col-sm-12">
		<div class="card border-0">
			<div class="card-body">
				<div class="backLink col col-sm-12">
					<a class="link" (click)="sendFlag()">Listar Supervisores</a>
				</div>
				<div class="formContainerAdmin col col-sm-12" [ngClass]="{'formContainerAdminError': status && status=='error'}">
					<form #supervisorForm="ngForm" class="form-container" (ngSubmit)="onSubmit(supervisorForm)">
						<div class="form-group col col-sm-12">
							<label for="supervisorName" class="labelForm">Nombre*</label>
							<input type="text" name="supervisorName" class="form-control inputForm" [ngClass]="{ 'is-invalid': supervisorName.touched && supervisorName.invalid }" #supervisorName="ngModel" [(ngModel)]="supervisor.name" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese el nombre del área que desa registrar">
						</div>
						<div class="form-group col-sm-12">
							<label for="supervisorPosition" class="labelForm">Cargo del Supervisor*</label>
							<input type="text" name="supervisorPosition" class="form-control inputForm" [ngClass]="{'is-invalid': supervisorPosition.touched && supervisorPosition.invalid }" #supervisorPosition="ngModel" [(ngModel)]="supervisor.position" required pattern="[a-zA-ZÀ-ÿ ]+" placeholder="Ingrese el cargo del supervisor">
						</div>
						<div class="form-group">
							<div class="col col-sm-12 buttonSubmit">
								<input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12" [disabled]="supervisorForm.invalid">
							</div>
						</div>
						<div class="mt-3 col col-sm-12 errorAlert" *ngIf="status && responseMessage">
							<div class="alert" [ngClass]="{'alert-danger': status=='error', 'alert-success': status=='success'}" role="alert">
								{{ responseMessage }}
							</div>
						</div>
						<div class="deleteLoader" *ngIf="preloaderStatus">
							<div class="loader"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>